<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>NinBooru | A Imageboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A simple imageboard"/>
	<link rel="stylesheet" type="text/css" href="/css/header.css"/>
	<link rel="stylesheet" type="text/css" href="/css/index.css"/>
	<link rel="stylesheet" type="text/css" href="/css/admin.css"/>
	<link rel="SHORTCUT ICON" href="/icon/favicon.png" />
		
	</head>
	
	
	<body>
		<div id="head">
			<div class="pagename">
				<a href="/private/index">NinBooru</a>
			</div>
			<div class="pages">
				<a href="#" class="selectedpage" >My profile</a>
				<a href="/private/posts" >Posts </a>
				<a href="#">Tags</a>
				<a href="#">Help</a>
				<a href="javascript:{}" aria-current="page"
		           onclick="document.getElementById('cerrar_sesion').submit();">Cerrar Sesion</a>
				<form th:action="@{/logout}" id="cerrar_sesion" method="post" ></form>
			</div>
			
			<div class="pages2">
				<a href="/private/profile" class="pages2_nona">User</a>
				<a href="" class="pages2_nona">New Post</a>
				<a href="#" class="pages2_nona">My Posts</a>
				<div th:if="${userlevel == 'lu5'}" style="float:left">	
					<a href="#" class="selectedpage2"> Admin </a>
				</div>
			</div>
			
			<div class="pages3">
				<a href="#" class="selectedpage3">WebConfig</a>
				<a href="" class="pages3_a">Users</a>
				<a href="#" class="pages3_a">Tags</a>

			</div>
		</div>
		<div class="contentAdminPanel">
			<div class="webConfig">
				<form>
					<p>Basic Config</p>
					<label>WebName</label>
					<input>
					<br>
					<input type="submit" value="Actualizar"/>
				</form>
			</div>
			
			<div class="webConfig">
				<form>
					<p>Api</p>
					<label>State</label>
					<select name="state" id="state">
					  <option value="false">false</option>
					  <option value="true">true</option>
					</select>
					<br>
					<input type="submit" value="Actualizar"/>
				</form>
			</div>
		</div>

	
	</body>




</html>