<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>NinBooru | A Imageboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A simple imageboard"/>
	<link rel="stylesheet" type="text/css" href="/css/header.css"/>
	<link rel="stylesheet" type="text/css" href="/css/index.css"/>
	<link rel="SHORTCUT ICON" href="/icon/favicon.png" />
		
	</head>
	
	
	<body>
		<div id="head">
			<div class="pagename">
				<a href="/private/index">NinBooru</a>
			</div>
			<div class="pages">
				<a href="/private/profile">My profile</a>
				<a href="#" class="selectedpage">Posts </a>
				<a href="#">Tags</a>
				<a href="#">Help</a>
				<a href="javascript:{}" aria-current="page"
		           onclick="document.getElementById('cerrar_sesion').submit();">Cerrar Sesion</a>
				<form th:action="@{/logout}" id="cerrar_sesion" method="post" ></form>
			</div>
		</div>
		<div id="content" class="content">
			<div class="sidebar">
				
				<div id="search">
					<span class="tslab" >Search</span>
					<form>
						<input type="text"  placeholder="Buscar.." name="buscador" class="buscador">
						<ul hidden="">
							<li aria-selected="false">
								<mark>Gi</mark>rl (416536)
							</li>
						</ul>
						
						<input type="submit" value="Buscar" class="button-search">
					</form>
				</div>
			
				<div id="tags" class="ttdi">
					<span class="ttlab">Tags</span>
				
					<table class="tags">
						<tr><td><a href="#">
						+ - Girl
						</a><span>0</span> </td></tr>
					</table>
				
				</div>
			</div>
			
			
				<div class="ibContent">
					<div class="item">
						<a class="linkItem" href="inicio.html">
							<img src="https://safebooru.org/thumbnails/3893/thumbnail_350f5be4b84cea0e8a4e9c9a1b21393d8032915c.jpg?4069160" 
							alt=" tags " border="0" title=" title" class="preview ">
						</a>
					</div>
					
				</div>
			
			
			
		</div>
		<div class="bloque">
				<div class="paination">
					<b> 1</b>
					<a href="#">2</a>
				</div>
			</div>
	
	</body>




</html>