/* Special */

body,html{
    margin: 0;
    padding: 0;	
	display: flex;
    flex-direction: column;
	height:vh;
	
}
div{
    display: block;
}
div{
    display: block;
}
.pagename{
	font-family: verdana, sans-serif;
	background-color: #fff;
	padding: 8px;
}
.pagename a{
	font-family: Tahoma;
	text-decoration: none;
	font-weight: bold;
	width:100vw;
	color: blue;
}

.pagename a:visited {
	font-family: Tahoma;
	text-decoration: none;
	font-weight: bold;
	width:100vw;
	
	color: blue;
}

.pages{
	padding: 4px;
	background-color:#0773fb;
	color: #fff;
}
.pages a{
	margin: 0 0.5em;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}
.pages a:hover{
	background-color: #fff;
	color:black;
	padding-top:10px;
	padding-bottom:10px;
}

/* selected */
.pages2{
	padding: 4px;
	margin-top:5px;
	padding-top:0px;
	background-color:#fff;
}
.pages2_nona{
	margin: 0 0.5em;
	padding-left:2px;
	padding-right:2px;
	text-decoration: none;
	font-weight: bold;
	background-color: #0773fb;
	color: white;
}

.pages2_nona:hover{
	margin: 0 0.5em;
	padding-left:2px;
	padding-right:2px;
	padding-button:2px;
	padding-top:1px;
	text-decoration: none;
	font-weight: bold;
	background-color: #00188d;
	color: white;
}

.selectedpage2{
	margin: 0 0.5em;
	padding-left:2px;
	padding-right:2px;
	padding-button:2px;
	padding-top:1px;
	text-decoration: none;
	font-weight: bold;
	background-color: #00188d;
	color: white;
}

.selectedpage{
	background-color: #00188d;
    border-radius: 10px;
	color:black;
	padding: 4px;
}

